:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 400px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c1c;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 32px;
  height: 440px;
}


.todo-list-container{
  width: 100%;
  height: 280px;
  overflow-y: auto;
  position: relative;
}

.blur-effect{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;  
  background: linear-gradient(to top, #1c1c1c, transparent);
  pointer-events: none;  
}

.todo-list-container::-webkit-scrollbar {
  width: 4px;  
}

.todo-list-container::-webkit-scrollbar-track {
  background: #555;  
}

.todo-list-container::-webkit-scrollbar-thumb {
  background: #888;  
}

.todo-list-container::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c;  
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c;
  color: #e1e1e1;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

.footer{
  position: absolute;
  bottom: 44px;
  font-size: 0.8rem;
  font-style: italic;
  margin: 4px 0px;
}

.without_italic {
  font-style: normal;
  font-size: 0.8rem;
  bottom: 16px;
}

.feedback-link{
  margin: 0;
  text-decoration: underline;
  color:#e1e1e1;
}